 /* Container holding the image and the text */
.container {
  position: absolute;
  text-align: center;
  color:black;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 15%;
 margin-top: 100px
 }
p,h1,h2,h3,h4,h5,h6{
  text-align: center;
 }
 .photo {
   width:1255px;
   height:900px;
 }
 .contact {
   background-image: url(..assets/backgrounds/c_image.jpg);
   background-size: 100%;
   margin-bottom: 0%;
   height: 500px;
 }
.h{ 
  text-align: center;
}
.service {
  background-image: url(..assets/backgrounds/s_image.jpg);
  background-size: 100%;
  margin-bottom: 0%;
  height: 300px;
  